#github{
  background-color: orange;
  text-decoration: underline;
  font-size: 15px;
}

#footer-container{
  font-size: 10px;
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  width: 120%;
}

#footer{
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;

}
