

body {
    background-color:#f7f7f7;
    font-family: Helvetica;
    font-size:11px;
    padding-bottom:50px;
    margin:-.5px

}

.button {
    display:inline-block;
    padding:0.25em 1em;
    margin: 0 0.2em 0.2em 0;
    border-radius:0.2em;
    text-decoration:none;
    font-family:Helvetica;
    font-size:12px;
    color:black;
    text-align:center;
    background-color:transparent;
    text-transform:uppercase;
    cursor:pointer;
    border:none;
    padding-bottom:10px;
    padding-top:10px;
}
