.likebutton {
    padding:5px;
    background-color:transparent;
    border:none;
    cursor:pointer;
}

.postbuttons{
    justify-content:center;
    align-items:center;
    position:relative;
    top:-12px;
    cursor:pointer;
    outline:none;
    border: 0.5px solid rgb(196, 193, 193);
    border-radius:10px;
    background-color: transparent;
    font-family:helvetica;
    font-size: 10px;
    color:rgb(186, 186, 186);
    margin-right:5px;
}

.popupimg {
    background-color:transparent;
    border:none;
    cursor:pointer;
    position:absolute;
    margin-left:250px;
    padding-top:17px;

}

li{
    list-style: none;
}

.eachpost {
    display:block;
    height: auto;
    margin: auto;
    width: min-content;
    margin-bottom:20px;
    background-color:white;
    padding-bottom:20px;
    border: 1px solid #dcdcdc;
}

.posttopbar {
    display:inline-block;
    width:400px;
    height:50px;
    background-color:white;

}

h1 {
    text-align:center
}

.feed{
    display:block;
    justify-content:center
}

.content{
    padding:7px;
    background-color:white;
}

.likedby{
    margin-bottom:5px;
    font-size:12px;
}

.profpic{
    height:30px;
    width:30px;
    border-radius:50%;
    margin-top:10px;
    margin-left:10px;
}

.comment{
    margin-top:2px
}


.name{
    text-decoration: none;
    color: black;
    padding-left:10px;
    font-size:13px;
    position:relative;
    top:-9px;

}


.usercapt{
    padding-bottom:6px
}


.fitted{
    width:50px;
}


.heart {
    color:rgb(224, 223, 223);
    padding:5px;
    background-color:transparent;
    border:none;
    cursor:pointer;
}
/*
.heart:hover{
         color: pink
 }

.heart:active {
     color: red
    } */
