.likebutton {
    padding:5px;
    background-color:transparent;
    border:none;
    cursor:pointer;
}

.popupimg {
    background-color:transparent;
    border:none;
    cursor:pointer;
    position:absolute;
    margin-left:250px;
    padding-top:17px;

}

li{
    list-style: none;
}

.eachpost {
    display:block;
    /* text-align:center; */
    /* border:10px solid white; */
    height: auto;
    margin: auto;
    width: min-content;
    margin-bottom:20px;
    background-color:white;
    padding-bottom:20px;
    border: 1px solid #dcdcdc;
}
.posttopbar {
    display:inline-block;
    width:400px;
    height:50px;
    background-color:white;

}

h1 {
    text-align:center
}

.feed{
    display:block;
    justify-content:center
}

.content{
    padding:7px;
    background-color:white;
}

.likedby{
    margin-bottom:5px;
    font-size:12px;
}

.profpic{
    /* display:inline-block; */
    /* position:relative; */
    /* overflow:hidden; */
    height:30px;
    width:30px;
    border-radius:50%;
    margin-top:10px;
    margin-left:10px;
    /* padding-left:5px;
    padding-top:20px; */

}

.comment{
    margin-top:2px
}


.name{
    text-decoration: none;
    color: black;
    padding-left:10px;
    font-size:13px;
    /* padding-top:5px;; */
    /* justify-content:flex-start; */
    position:relative;
    top:-9px;

}


.usercapt{
    padding-bottom:6px
}


.fitted{
    width:50px;
}
