.loginform {
    background-color: rgb(255, 255, 255);
    display: block;
    width: min-content;
    height: auto;
    margin: auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    text-align: center;
}

.inputs {
    padding:12px;
    font-size:12px;
    margin-bottom: 5px;
    border-radius:15px;
    border:1px solid rgb(235, 235, 235);
    outline:none;
    font-family:Helvetica;
    margin-left:10px;
    margin-right:10px;

}
.inputfirst{
    padding:12px;
    font-size:12px;
    margin-bottom: 5px;
    border-radius:15px;
    border:1px solid rgb(235, 235, 235);
    outline:none;
    font-family:Helvetica;
    margin-left:10px;
    margin-right:10px;
    margin-top:20px
}

body {
    background-color:#f7f7f7;
    font-family: Helvetica;
    font-size:11px;
    /* border-top: 11px solid white; */
    padding:none;
    margin:-.5px
}

/* .button {
    display:inline-block;
    padding:0.25em 1em;
    margin: 0 0.2em 0.2em 0;
    border-radius:0.2em;
    text-decoration:none;
    font-family:Helvetica;
    font-size:12px;
    color:black;
    text-align:center;
    background-color:transparent;
    text-transform:uppercase;
    cursor:pointer;
    border:none;
    padding-bottom:10px;
    padding-top:10px;
}

/* .button:hover {
    background-color: #d4d4d4;
    border:none;
    padding:0.25em 1em;
    margin: 0 0.2em 0.2em 0;
    border-radius:10px
} */
